# Preprocesamiento

In [2]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv(r'Data/ds_salaries.csv')
#esta funcion es para poder hacer que se lea el archivo que se importo. con pandas se busca leer el archivo contenido en una carpeta.

In [16]:
df.head(3)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S

In [17]:
df.columns # te dice las columnas que se tienen

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [18]:
df.shape #saber las dimensiones y son 3755 filas [0] y 11 columnas[1]

(3755, 11)

In [20]:
df.dtypes #par saber los tipos de datos (object es string)

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [22]:
df.isnull().sum() 
#Para saber los valores nulos! ES IMPORTANTE PONER .SUM() para que de esta manera me de los 0 de lo contrario va a dar toda la tabla con valores booleanos.

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [23]:
df.duplicated().sum() #Para saber los duplicaados que existen en mi base

1171

In [33]:
#vamos a crear una funcion que nos permita saber la cantidad de datos repetidos que tenemos por coincidencia de indice 
df.groupby(['work_year', 'experience_level', 'employment_type', 
            'job_title','salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
            'remote_ratio', 'company_location', 'company_size']).sum()

Empty DataFrame
Columns: []
Index: [(2020, EN, CT, Business Data Analyst, 100000, USD, 100000, US, 100, US, L), (2020, EN, FT, AI Scientist, 300000, DKK, 45896, DK, 50, DK, S), (2020, EN, FT, Big Data Engineer, 70000, USD, 70000, US, 100, US, L), (2020, EN, FT, Data Analyst, 10000, USD, 10000, NG, 100, NG, S), (2020, EN, FT, Data Analyst, 20000, EUR, 22809, PT, 100, PT, M), (2020, EN, FT, Data Analyst, 72000, USD, 72000, US, 100, US, L), (2020, EN, FT, Data Analyst, 91000, USD, 91000, US, 100, US, L), (2020, EN, FT, Data Analyst, 450000, INR, 6072, IN, 0, IN, S), (2020, EN, FT, Data Engineer, 48000, EUR, 54742, PK, 100, DE, L), (2020, EN, FT, Data Engineer, 1000000, INR, 13493, IN, 100, IN, L), (2020, EN, FT, Data Engineer, 4450000, JPY, 41689, JP, 100, JP, S), (2020, EN, FT, Data Science Consultant, 423000, INR, 5707, IN, 50, IN, M), (2020, EN, FT, Data Scientist, 35000, EUR, 39916, FR, 0, FR, M), (2020, EN, FT, Data Scientist, 43200, EUR, 49268, DE, 0, DE, S), (2020, EN, FT, Data Scientist, 45000, EUR, 51321, FR, 0, FR, S), (2020, EN, FT, Data Scientist, 55000, EUR, 62726, DE, 50, DE, S), (2020, EN, FT, Data Scientist, 105000, USD, 105000, US, 100, US, S), (2020, EN, FT, Machine Learning Engineer, 138000, USD, 138000, US, 100, US, S), (2020, EN, FT, Machine Learning Engineer, 250000, USD, 250000, US, 50, US, L), (2020, EN, FT, Research Scientist, 42000, USD, 42000, NL, 50, NL, L), (2020, EN, PT, Data Scientist, 19000, EUR, 21669, IT, 50, IT, S), (2020, EN, PT, ML Engineer, 14000, EUR, 15966, DE, 100, DE, S), (2020, EX, FT, Data Engineer, 70000, EUR, 79833, ES, 50, ES, L), (2020, EX, FT, Director of Data Science, 325000, USD, 325000, US, 100, US, L), (2020, EX, FT, Staff Data Analyst, 15000, USD, 15000, NG, 0, CA, M), (2020, MI, FT, BI Data Analyst, 98000, USD, 98000, US, 0, US, M), (2020, MI, FT, Business Data Analyst, 95000, USD, 95000, US, 0, US, M), (2020, MI, FT, Business Data Analyst, 135000, USD, 135000, US, 100, US, L), (2020, MI, FT, Data Analyst, 8000, USD, 8000, PK, 50, PK, L), (2020, MI, FT, Data Analyst, 41000, EUR, 46759, FR, 50, FR, L), (2020, MI, FT, Data Analyst, 85000, USD, 85000, US, 100, US, L), (2020, MI, FT, Data Engineer, 51999, EUR, 59303, DE, 100, DE, S), (2020, MI, FT, Data Engineer, 61500, EUR, 70139, FR, 50, FR, L), (2020, MI, FT, Data Engineer, 65000, EUR, 74130, AT, 50, AT, L), (2020, MI, FT, Data Engineer, 88000, GBP, 112872, GB, 50, GB, L), (2020, MI, FT, Data Engineer, 106000, USD, 106000, US, 100, US, L), (2020, MI, FT, Data Engineer, 110000, USD, 110000, US, 100, US, L), (2020, MI, FT, Data Engineer, 130800, USD, 130800, ES, 100, US, M), (2020, MI, FT, Data Science Consultant, 103000, USD, 103000, US, 100, US, L), (2020, MI, FT, Data Scientist, 34000, EUR, 38776, ES, 100, ES, M), (2020, MI, FT, Data Scientist, 37000, EUR, 42197, FR, 50, FR, S), (2020, MI, FT, Data Scientist, 45760, USD, 45760, PH, 100, US, S), (2020, MI, FT, Data Scientist, 55000, EUR, 62726, FR, 50, LU, S), (2020, MI, FT, Data Scientist, 60000, GBP, 76958, GB, 100, GB, S), (2020, MI, FT, Data Scientist, 70000, EUR, 79833, DE, 0, DE, L), (2020, MI, FT, Data Scientist, 105000, USD, 105000, US, 100, US, L), (2020, MI, FT, Data Scientist, 118000, USD, 118000, US, 100, US, M), (2020, MI, FT, Data Scientist, 138350, USD, 138350, US, 100, US, M), (2020, MI, FT, Data Scientist, 3000000, INR, 40481, IN, 0, IN, L), (2020, MI, FT, Data Scientist, 11000000, HUF, 35735, HU, 50, HU, L), (2020, MI, FT, Lead Data Analyst, 87000, USD, 87000, US, 100, US, L), (2020, MI, FT, Lead Data Engineer, 56000, USD, 56000, PT, 100, US, M), (2020, MI, FT, Lead Data Scientist, 115000, USD, 115000, AE, 0, AE, L), (2020, MI, FT, Machine Learning Infrastructure Engineer, 44000, EUR, 50180, PT, 0, PT, M), (2020, MI, FT, Product Data Analyst, 20000, USD, 20000, HN, 0, HN, S), (2020, MI, FT, Product Data Analyst, 450000, INR, 6072, IN, 100, IN, L), (2020, MI, FT, Research Scientist, 450000, USD, 450000, US, 0, US, M), (2020, SE, FL, Computer Vision Engineer, 60000, USD, 60000, RU, 100, US, S), (2020, SE, FT, Big Data Engineer, 85000, GBP, 109024, GB, 50, GB, M), (2020, SE, FT, Big Data Engineer, 100000, EUR, 114047, PL, 100, GB, S), (2020, SE, FT, Data Engineer, 42000, EUR, 47899, GR, 50, GR, L), (2020, SE, FT, Data Engineer, 188000, USD, 188000, US, 100, US, L), (2020, SE, FT, Data Engineer, 720000, MXN, 33511, MX, 0, MX, S), (2020, SE, FT, Data Science Manager, 190200, USD, 190200, US, 100, US, M), (2020, SE, FT, Data Scientist, 60000, EUR, 68428, GR, 100, US, L), (2020, SE, FT, Data Scientist, 80000, EUR, 91237, AT, 0, AT, S), (2020, SE, FT, Data Scientist, 120000, USD, 120000, US, 50, US, L), (2020, SE, FT, Data Scientist, 412000, USD, 412000, US, 100, US, L), (2020, SE, FT, Lead Data Engineer, 125000, USD, 125000, NZ, 50, NZ, S), (2020, SE, FT, Lead Data Scientist, 190000, USD, 190000, US, 100, US, S), (2020, SE, FT, Machine Learning Engineer, 40000, EUR, 45618, HR, 100, HR, S), (2020, SE, FT, Machine Learning Engineer, 150000, USD, 150000, US, 50, US, L), (2020, SE, FT, Machine Learning Manager, 157000, CAD, 117104, CA, 50, CA, L), (2020, SE, FT, Machine Learning Scientist, 260000, USD, 260000, JP, 0, JP, S), (2020, SE, FT, Principal Data Scientist, 130000, EUR, 148261, DE, 100, DE, M), (2021, EN, FT, 3D Computer Vision Researcher, 20000, USD, 20000, AS, 0, AS, M), (2021, EN, FT, AI Scientist, 1335000, INR, 18053, IN, 100, AS, S), (2021, EN, FT, Applied Data Scientist, 80000, GBP, 110037, GB, 0, GB, L), (2021, EN, FT, BI Data Analyst, 9272, USD, 9272, KE, 100, KE, S), (2021, EN, FT, BI Data Analyst, 55000, USD, 55000, US, 50, US, S), (2021, EN, FT, Big Data Engineer, 435000, INR, 5882, IN, 0, CH, L), (2021, EN, FT, Big Data Engineer, 1200000, INR, 16228, IN, 100, IN, L), (2021, EN, FT, Business Data Analyst, 50000, EUR, 59102, LU, 100, LU, L), (2021, EN, FT, Computer Vision Software Engineer, 70000, USD, 70000, US, 100, US, M), (2021, EN, FT, Data Analyst, 50000, EUR, 59102, FR, 50, FR, M), (2021, EN, FT, Data Analyst, 50000, USD, 50000, US, 100, US, M), (2021, EN, FT, Data Analyst, 56000, AUD, 42028, AU, 50, AU, L), (2021, EN, FT, Data Analyst, 60000, USD, 60000, US, 100, US, S), (2021, EN, FT, Data Analyst, 80000, USD, 80000, US, 100, US, M), (2021, EN, FT, Data Analyst, 90000, USD, 90000, US, 100, US, S), (2021, EN, FT, Data Engineer, 33000, GBP, 45390, GB, 50, GB, L), (2021, EN, FT, Data Engineer, 55000, EUR, 65013, DE, 50, DE, M), (2021, EN, FT, Data Engineer, 72500, USD, 72500, US, 100, US, L), (2021, EN, FT, Data Engineer, 80000, USD, 80000, US, 100, US, L), (2021, EN, FT, Data Engineer, 1600000, INR, 21637, IN, 50, IN, M), (2021, EN, FT, Data Engineer, 2250000, INR, 30428, IN, 100, IN, L), (2021, EN, FT, Data Science Consultant, 54000, EUR, 63831, DE, 50, DE, L), (2021, EN, FT, Data Science Consultant, 65000, EUR, 76833, DE, 0, DE, L), (2021, EN, FT, Data Science Consultant, 65000, EUR, 76833, DE, 100, DE, S), (2021, EN, FT, Data Science Consultant, 90000, USD, 90000, US, 100, US, S), ...]

[2584 rows x 0 columns]

In [42]:
df[['work_year', 'experience_level', 'employment_type', 'job_title','salary', 'salary_currency', 'salary_in_usd', 'employee_residence','remote_ratio', 'company_location', 'company_size']].value_counts()

work_year  experience_level  employment_type  job_title           salary  salary_currency  salary_in_usd  employee_residence  remote_ratio  company_location  company_size
2022       SE                FT               Data Scientist      191475  USD              191475         US                  100           US                M               21
                                                                  141525  USD              141525         US                  100           US                M               21
2023       SE                FT               Data Engineer       252000  USD              252000         US                  0             US                M               13
                                                                  129000  USD              129000         US                  0             US                M               13
2022       SE                FT               Data Engineer       130000  USD              130000         US                  0             US                M               12
                                                                                                                                                                              ..
                                              Data Analyst        136600  USD              136600         US                  100           US                M                1
                                                                  139600  USD              139600         US                  0             US                M                1
                                                                  140000  USD              140000         US                  100           US                M                1
                                                                  144000  USD              144000         US                  100           US                M                1
2023       SE                FT               Research Scientist  370000  USD              370000         US                  0             US                M                1
Name: count, Length: 2584, dtype: int64

In [43]:
df.drop_duplicates(inplace=True) #Elimina los duplicados

In [45]:
df.shape

(2584, 11)

# EDA

In [46]:
df.head(1)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L

¿De que pais son la mayoria de compañias?

In [66]:
df["company_location"].value_counts()

company_location
US    1929
GB     155
CA      83
IN      57
DE      55
      ...
MK       1
BS       1
IR       1
CR       1
MT       1
Name: count, Length: 72, dtype: int64

¿En que puesto se gana mas?

In [60]:
df[["job_title","salary"]].max()

job_title    Staff Data Scientist
salary                   30400000
dtype: object

Tipo de trabajo, pais de residencia donde mas se cobra?

In [59]:
df[["company_location","salary","job_title"]].max()

company_location                      VN
salary                          30400000
job_title           Staff Data Scientist
dtype: object

¿El nivel de  experiencia es proporcional al salario?

In [99]:

df["experience_level"]

0       SE
1       MI
2       MI
3       SE
4       SE
        ..
3750    SE
3751    MI
3752    EN
3753    EN
3754    SE
Name: experience_level, Length: 2584, dtype: object

¿Cuanto se cobra de media por cada nivel de experiencia?

In [104]:
df.groupby(["experience_level","salary"]).agg({"salary":"mean"}).round(2).sort_values(by=["experience_level","salary"],ascending=False)

ValueError: 'salary' is both an index level and a column label, which is ambiguous.

¿Por que porcentage promedio se aumenta el salario entre nivel de experiencia

en que pais se cobra  mas por tipo de empleo?

In [101]:
df.groupby(["company_location","job_title"]).agg({"salary":"mean"}).round(2).sort_values(by=["salary","company_location"],ascending=False)

                                                     salary
company_location job_title
CL               Data Scientist                  30400000.0
HU               Data Scientist                   8800000.0
JP               ML Engineer                      7750000.0
IN               Lead Machine Learning Engineer   7500000.0
                 Data Science Manager             7000000.0
...                                                     ...
SG               Product Data Scientist              8000.0
PK               Data Analyst                        8000.0
BO               Analytics Engineer                  7500.0
GH               Autonomous Vehicle Technician       7000.0
MK               AI Developer                        6000.0

[356 rows x 1 columns]